footer {
    width: 100%;
    height: auto;
    background-color: $preto;
    bottom: 0;
    margin: 0;
    padding: 40px 0;
    position: relative;

    +below($tablet) {
        padding: 30px 0;
    }

    div.center {
        width: 1200px;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        +below($tablet) {
            width: 90%;
            justify-content: space-between;
        }

        +mobile() {
            flex-wrap: wrap;
        }

        .link-home {
            width: 180px;
            margin-right: 90px;
            transition: opacity 0.3s ease-in-out;

            +below($tablet) {
                width: 150px;
                margin-right: 0;
            }

            +mobile() {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .img-logo {
                width: 100%;

                +mobile() {
                    width: 40%;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        article.menu {
            width: auto;
            margin-right: 90px;

            +below($tablet) {
                margin-right: 0;
            }

            +mobile() {
                width: 40%;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .link-footer {
                display: block;
                width: auto;
                bangers(16);
                color: $branco;
                white-space: nowrap;
                margin: 0 0 10px 0;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    margin: 0 0 7px 0;
                }

                +mobile() {
                    margin: 0 0 5px 0;
                }

                &:hover, &.active {
                    color: $laranja;
                }
            }
        }

        article.espetaculos {
            width: auto;
            margin-right: 110px;

            +below($tablet) {
                margin-right: 0;
            }

            +mobile() {
                width: 55%;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .link-espetaculo {
                display: block;
                width: auto;
                bangers(16);
                color: $laranja;
                text-transform: uppercase;
                white-space: nowrap;
                margin: 0 0 10px 0;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    margin: 0 0 7px 0;
                }

                +mobile() {
                    margin: 0 0 5px 0;
                }

                &:hover, &.active {
                    color: $branco;
                }
            }
        }

        article.informacoes {
            width: auto;
            margin: 0;

            +mobile() {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .link-telefone {
                width: auto;
                height: 18px;
                display: block;
                bellota(18);
                color: $branco;
                margin: 0 0 10px 0;
                padding-left: 25px;
                background: $img('icone-telefone-branco.svg') no-repeat 0 / 16px transparent;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $laranja;
                    background: $img('icone-telefone.svg') no-repeat 0 / 16px transparent;
                }

                +below($tablet) {
                    font-size: 16px;
                    margin: 0 0 7px 0;
                    padding-left: 20px;
                    background: $img('icone-telefone-branco.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-telefone.svg') no-repeat 0 / 14px transparent;
                    }
                }
            }

            .link-whatsapp {
                width: auto;
                height: 18px;
                display: block;
                bellota(18);
                color: $branco;
                margin: 0 0 30px 0;
                padding-left: 25px;
                background: $img('icone-whatsapp-branco.svg') no-repeat 0 / 16px transparent;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $laranja;
                    background: $img('icone-whatsapp.svg') no-repeat 0 / 16px transparent;
                }

                +below($tablet) {
                    font-size: 16px;
                    margin: 0 0 20px 0;
                    padding-left: 20px;
                    background: $img('icone-whatsapp-branco.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-whatsapp.svg') no-repeat 0 / 14px transparent;
                    }
                }

                +mobile() {
                    text-align: center;
                    margin: 0 0 10px 0;
                }
            }

            .link-instagram {
                bellota(14);
                color: $branco;
                width: auto;
                height: 18px;
                display: block;
                padding-left: 25px;
                background: $img('icone-instagram-branco.svg') no-repeat 0 / 16px transparent;
                transition: all 0.1s ease-in-out;

                &:hover {
                    color: $laranja;
                    background: $img('icone-instagram.svg') no-repeat 0 / 16px transparent;
                }

                +below($tablet) {
                    font-size: 12px;
                    padding-left: 20px;
                    background: $img('icone-instagram-branco.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-instagram.svg') no-repeat 0 / 14px transparent;
                    }
                }

                +mobile() {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $img('icone-instagram-branco.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-instagram.svg') no-repeat 0 / 14px transparent;
                    }
                }
            }

            .link-email {
                width: auto;
                height: 16px;
                display: block;
                bellota(12);
                color: $branco;
                margin: 10px 0 0 0;
                padding-left: 25px;
                background: $img('icone-email.svg') no-repeat 0 / 16px transparent;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $laranja;
                    background: $img('icone-email-laranja.svg') no-repeat 0 / 16px transparent;
                }

                +below($tablet) {
                    font-size: 11px;
                    margin: 7px 0 0 0;
                    padding-left: 20px;
                    background: $img('icone-email.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-email-laranja.svg') no-repeat 0 / 14px transparent;
                    }
                }

                +mobile() {
                    text-align: center;
                }
            }

            .link-politica {
                width: auto;
                display: block;
                bellota(14);
                color: $branco;
                margin: 50px 0;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 12px;
                    margin: 30px 0;
                }

                +mobile() {
                    text-align: center;
                    margin: 20px 0;
                }

                &:hover, &.active {
                    color: $laranja;
                }
            }

            .copyright {
                width: auto;

                .direitos {
                    width: auto;
                    display: block;
                    bellota(10);
                    color: $branco;
                    margin: 0 0 5px 0;

                    +below($tablet) {
                        font-size: 9px;
                        margin: 0;
                    }

                    +mobile() {
                        text-align: center;
                    }
                }

                .links {
                    width: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0;

                    +mobile() {
                        justify-content: center;
                    }

                    .link-trupe {
                        width: auto;
                        bellota(10);
                        color: $branco;
                        margin: 0 5px 0 0;
                        transition: color 0.3s ease-in-out;

                        +below($tablet) {
                            font-size: 9px;
                        }

                        &:hover {
                            color: $laranja;
                        }
                    }
                }
            }
        }
    }
}