header {
    position: fixed;
    top: 45px;
    right: 40px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 999;

    @media (max-width: 1500px) and (min-width: 1300px) {
        width: 170px;
        top: 30px;
        right: 2%;
    }

    +below($tablet) {
        top: 30px;
        right: 2%;
        width: 130px;
    }

    +mobile() {
        top: 0;
        right: unset;
        left: 0;
        width: 100%;
        height: 120px;
        flex-direction: row;
        align-items: center;
    }

    .link-home {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;

        @media (max-width: 1500px) and (min-width: 1300px) {
            margin: 0 0 15px 0;
        }

        +below($tablet) {
            margin: 0 0 15px 0;
        }

        +mobile() {
            width: 120px;
            margin: 0 0 0 5%;
        }

        .img-logo {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    nav {
        width: 100%;
        height: auto;
        margin: 0;
        position: relative;

        +mobile() {
            position: absolute;
            display: none;
            background-color: transparent;
            width: 100%;
            height: auto;
            left: 0;
            top: 80px;
            padding: 10px 5%;
            z-index: 999;
        }

        div.menu {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            +mobile() {
                width: 100%;
                align-items: flex-end;
            }

            .link-nav {
                width: fit-content;
                max-width: 100%;
                height: 30px;
                bangers(18);
                color: $preto;
                margin-bottom: 5px;
                padding: 6px 15px;
                background-color: $laranja;
                box-shadow: 2px 2px 5px $preto;
                transition: background 0.5s ease-in-out;

                &.first {
                    margin-left: 0;
                }

                &.second {
                    margin-left: 20px;
                }

                &.third {
                    margin-left: 50px;
                }

                @media (max-width: 1500px) and (min-width: 1300px) {
                    font-size: 14px;
                    height: 25px;
                    padding: 6px 12px;
                }

                +below($tablet) {
                    height: 22px;
                    font-size: 12px;
                    padding: 5px 10px;

                    &.second {
                        margin-left: 12px;

                        +mobile() {
                            margin: 0 12px 5px 0;
                        }
                    }

                    &.third {
                        margin-left: 30px;

                        +mobile() {
                            margin: 0 30px 5px 0;
                        }
                    }
                }

                &.captacao {
                    padding: 6px 10px;

                    +below($tablet) {
                        padding: 6px;
                    }
                }

                &:hover, &.active {
                    background-color: $branco;
                }
            }
        }
    }
}

#mobile-toggle {
    +above($mobile) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: absolute;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    right: 5%;
    top: 50px;
    width: 24px;

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $branco;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $branco;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &.internas {
            background-color: $branco;

            &:before, &:after {
                background-color: $branco;
            }
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;
            z-index: 9999;

            &:before, &:after {
                transform-origin: 50% 50%;
                background-color: $branco;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}