desktop-base-width = 1300px;
rupture.tablet-cutoff = $tablet = 1300px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$branco = #FFF;
$preto = #000;
$laranja = #F58634;
$vinho = #61000E;
$vinhoEscuro = #290000;
$vermelho = #BB0120;
$amarelo = #FFFFCC;

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bellota+Text&family=Codystar&family=Original+Surfer&display=swap');

bellota($size, $weight = normal) {
    font-family: 'Bellota Text', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 600;
    }
}

bangers($size, $weight = normal) {
    font-family: 'Bangers', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;
}

codystar($size, $weight = normal) {
    font-family: 'Codystar', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;
}

surfer($size, $weight = normal) {
    font-family: 'Original Surfer', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;
}