main.agenda {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.lista-agenda {
        height: auto;
        padding: 50px 0;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
            padding: 40px 0;
        }

        article.evento {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .link-img-espetaculo {
                width: auto;
                height: auto;

                .img-espetaculo {
                    width: 350px;
                    height: 350px;
                    border: 2px solid $laranja;
                    border-radius: 50%;
                    position: relative;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        width: 250px;
                        height: 250px;
                    }

                    +mobile() {
                        width: 200px;
                        height: 200px;
                    }
                }

                &:hover {
                    .img-espetaculo {
                        transform: scale(1.05);
                    }
                }
            }

            div.data {
                width: 90px;
                height: 90px;
                background-color: $laranja;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: calc('(350px - 90px) / 2');
                left: calc('350px - 45px');
                z-index: 9;

                +below($tablet) {
                    width: 60px;
                    height: 60px;
                    top: calc('(250px - 60px) / 2');
                    left: calc('250px - 30px');
                }

                +mobile() {
                    width: 50px;
                    height: 50px;
                    top: calc('200px - 25px');
                    left: 43%;
                }

                .dia {
                    bangers(46);
                    color: $branco;
                    margin: 0;
                    line-height: 1.1;

                    +below($tablet) {
                        font-size: 30px;
                    }

                    +mobile() {
                        font-size: 22px;
                    }
                }

                .mes {
                    bangers(18);
                    color: $branco;
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 1.1;

                    +below($tablet) {
                        font-size: 14px;
                        letter-spacing: 0.5px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }
            }

            .informacoes {
                width: calc('100% - 350px');
                height: auto;
                padding: 40px 20px 20px 90px;

                +below($tablet) {
                    width: calc('100% - 250px');
                    padding: 20px 20px 20px 70px;
                }

                +mobile() {
                    width: 100%;
                    padding: 40px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .link-espetaculo {
                    surfer(28);
                    color: $laranja;
                    margin: 0;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 22px;
                    }

                    +mobile() {
                        font-size: 18px;
                    }

                    &:hover {
                        color: $branco;
                    }
                }

                .tipo {
                    bangers(18);
                    color: $branco;
                    margin: 5px 0 10px 0;

                    +below($tablet) {
                        font-size: 14px;
                        letter-spacing: 0.5px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                .horario {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    bellota(18, bold);
                    color: $laranja;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    .img-relogio {
                        width: 25px;
                        height: auto;
                        object-fit: contain;
                        margin-right: 10px;

                        +below($tablet) {
                            width: 20px;
                        }

                        +mobile() {
                            width: 16px;
                        }
                    }
                }

                .local {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    bellota(18, bold);
                    color: $laranja;
                    margin: 5px 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    .img-local {
                        width: 20px;
                        height: auto;
                        object-fit: contain;
                        margin-right: 15px;

                        +below($tablet) {
                            width: 16px;
                            margin-right: 13px;
                        }

                        +mobile() {
                            width: 14px;
                            margin-right: 10px;
                        }
                    }
                }

                .endereco, .bairro-cidade {
                    bellota(16);
                    color: $laranja;
                    margin: 0 0 0 40px;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 0 0 0 30px;
                    }

                    +mobile() {
                        margin: 0;
                    }
                }

                .link-telefone {
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    bellota(18, bold);
                    color: $laranja;
                    margin: 10px 0 0 0;
                    padding: 0 0 0 35px;
                    background: $img('icone-telefone.svg') no-repeat 0 / 25px transparent;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $branco;
                        background: $img('icone-telefone-branco.svg') no-repeat 0 / 25px transparent;
                    }

                    +below($tablet) {
                        font-size: 14px;
                        height: 20px;
                        padding: 0 0 0 30px;
                        background: $img('icone-telefone.svg') no-repeat 0 / 20px transparent;

                        &:hover {
                            background: $img('icone-telefone-branco.svg') no-repeat 0 / 20px transparent;
                        }
                    }

                    +mobile() {
                        font-size: 12px;
                        height: 16px;
                        padding: 0 0 0 25px;
                        background: $img('icone-telefone.svg') no-repeat 0 / 16px transparent;

                        &:hover {
                            background: $img('icone-telefone-branco.svg') no-repeat 0 / 16px transparent;
                        }
                    }
                }

                .observacao {
                    bellota(18);
                    color: $laranja;
                    font-style: italic;
                    margin: 20px 0 0 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 15px 0 0 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                        margin: 10px 0 0 0;
                    }
                }

                .link-ingresso {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 30px 0;

                    +below($tablet) {
                        height: 30px;
                        margin: 20px 0;
                    }

                    div.ingresso {
                        width: 40px;
                        height: 100%;
                        background-color: $laranja;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background 0.3s ease-in-out;

                        +below($tablet) {
                            width: 30px;
                        }

                        .img-ingresso {
                            width: 18px;
                            height: auto;
                            object-fit: contain;

                            +below($tablet) {
                                width: 16px;
                            }
                        }
                    }

                    .titulo-ingresso {
                        width: auto;
                        height: 100%;
                        padding: 0 15px;
                        display: flex;
                        align-items: center;
                        bellota(16);
                        color: $laranja;
                        border: 1px solid $laranja;
                        transition: all 0.3s ease-in-out;

                        +below($tablet) {
                            font-size: 12px;
                        }

                        +mobile() {
                            padding: 0 10px;
                            font-size: 10px;
                        }
                    }

                    &:hover {
                        div.ingresso {
                            background-color: $branco;
                        }

                        .titulo-ingresso {
                            color: $branco;
                            border: 1px solid $branco;
                        }
                    }
                }
            }
        }

        .estrelinhas {
            width: 90%;
            height: 30px;
            background-image: $img('estrelinha.png');
            background-size: 30px;
            background-repeat: repeat;
            margin: 45px 0 30px 0;

            +below($tablet) {
                height: 20px;
                background-size: 20px;
                margin: 30px 0 20px 0;
            }
        }
    }
}