main.captacao-de-patrocinios {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.textos {
        width: 100%;
        height: auto;
        padding: 50px 0 100px 0;
        background-color: $preto;
        visibility: hidden;

        +below($tablet) {
            padding: 40px 0 60px 0;
        }

        +mobile() {
            padding: 30px 0;
        }

        .center {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
                flex-wrap: wrap;
                justify-content: center;
            }

            article.left {
                width: 60%;
                padding: 0 5%;
                bellota(16);
                color: $branco;

                +below($tablet) {
                    width: 55%;
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                h2 {
                    bangers(28);
                    color: $branco;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 22px;
                    }

                    +mobile() {
                        margin: 0 0 10px 0;
                    }
                }

                h4 {
                    surfer(24);
                    color: $laranja;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 18px;
                    }

                    +mobile() {
                        margin: 0 0 10px 0;
                    }
                }

                ul, ol {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;
                    }
                }

                figure.table {
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        font-size: 10px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        th, td {
                            padding: 5px;
                            text-align: left;
                        }
                    }

                    table, th, td {
                        border: 1px solid $branco;
                    }
                }
            }

            article.right {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                +below($tablet) {
                    width: 40%;
                }

                +mobile() {
                    width: 100%;
                    margin-top: 20px;
                }

                .img-texto {
                    width: 400px;
                    height: auto;
                    margin-bottom: 20px;

                    +below($tablet) {
                        width: 90%;
                        margin-bottom: 15px;
                    }

                    +mobile() {
                        width: 70%;
                    }
                }
            }
        }

        &:nth-child(2n + 1) {
            background-color: $laranja;

            .center {
                flex-direction: row-reverse;

                article.left {
                    color: $preto;

                    h2 {
                        color: $preto;
                    }

                    h4 {
                        color: $branco;
                    }

                    figure.table {
                        table, th, td {
                            border: 1px solid $preto;
                        }
                    }
                }
            }
        }
    }
}