main.contato {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.dados-contato {
        height: auto;
        padding: 60px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0 auto;
        }

        article.dados {
            width: 400px;
            margin-right: 80px;

            +below($tablet) {
                width: 40%;
                margin-right: 50px;
            }

            +mobile() {
                width: 100%;
                margin-right: 0;
            }

            .link-telefone, .link-whatsapp {
                width: auto;
                height: 40px;
                display: block;
                bellota(36);
                color: $laranja;
                margin: 0 0 10px 0;
                padding-left: 50px;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    height: 30px;
                    font-size: 26px;
                    padding-left: 35px;
                }

                +mobile() {
                    height: 20px;
                    font-size: 18px;
                    padding-left: 25px;
                }

                &:hover {
                    color: $branco;
                }
            }

            .link-telefone {
                background: $img('icone-telefone.svg') no-repeat 0 / 30px transparent;

                &:hover {
                    background: $img('icone-telefone-branco.svg') no-repeat 0 / 30px transparent;
                }

                +below($tablet) {
                    background: $img('icone-telefone.svg') no-repeat 0 / 20px transparent;

                    &:hover {
                        background: $img('icone-telefone-branco.svg') no-repeat 0 / 20px transparent;
                    }
                }

                +mobile() {
                    margin-left: 33%;
                    background: $img('icone-telefone.svg') no-repeat 0 / 16px transparent;

                    &:hover {
                        background: $img('icone-telefone-branco.svg') no-repeat 0 / 16px transparent;
                    }
                }
            }

            .link-whatsapp {
                background: $img('icone-whatsapp.svg') no-repeat 0 / 30px transparent;

                &:hover {
                    background: $img('icone-whatsapp-branco.svg') no-repeat 0 / 30px transparent;
                }

                +below($tablet) {
                    background: $img('icone-whatsapp.svg') no-repeat 0 / 20px transparent;

                    &:hover {
                        background: $img('icone-whatsapp-branco.svg') no-repeat 0 / 20px transparent;
                    }
                }

                +mobile() {
                    margin-left: 31%;
                    background: $img('icone-whatsapp.svg') no-repeat 0 / 16px transparent;

                    &:hover {
                        background: $img('icone-whatsapp-branco.svg') no-repeat 0 / 16px transparent;
                    }
                }
            }

            .link-instagram, .link-email {
                width: auto;
                height: 30px;
                display: block;
                bellota(26);
                color: $laranja;
                margin: 0;
                padding-left: 35px;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    height: 25px;
                    font-size: 18px;
                    padding-left: 25px;
                }

                +mobile() {
                    height: 20px;
                    font-size: 14px;
                    padding-left: 20px;
                }

                &:hover {
                    color: $branco;
                }
            }

            .link-instagram {
                background: $img('icone-instagram.svg') no-repeat 0 / 20px transparent;
                margin-top: 30px;

                &:hover {
                    background: $img('icone-instagram-branco.svg') no-repeat 0 / 20px transparent;
                }

                +below($tablet) {
                    background: $img('icone-instagram.svg') no-repeat 0 / 16px transparent;

                    &:hover {
                        background: $img('icone-instagram-branco.svg') no-repeat 0 / 16px transparent;
                    }
                }

                +mobile() {
                    margin-left: 37%;
                    margin-top: 20px;
                    background: $img('icone-instagram.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-instagram-branco.svg') no-repeat 0 / 14px transparent;
                    }
                }
            }

            .link-email {
                background: $img('icone-email-laranja.svg') no-repeat 0 / 20px transparent;

                &:hover {
                    background: $img('icone-email.svg') no-repeat 0 / 20px transparent;
                }

                +below($tablet) {
                    background: $img('icone-email-laranja.svg') no-repeat 0 / 16px transparent;

                    &:hover {
                        background: $img('icone-email.svg') no-repeat 0 / 16px transparent;
                    }
                }

                +mobile() {
                    margin-left: 28%;
                    background: $img('icone-email-laranja.svg') no-repeat 0 / 14px transparent;

                    &:hover {
                        background: $img('icone-email.svg') no-repeat 0 / 14px transparent;
                    }
                }
            }

            .img-contato {
                width: 400px;
                height: auto;
                margin: 30px 0;
                object-fit: cover;

                +below($tablet) {
                    width: 100%;
                }

                +mobile() {
                    margin: 20px 0;
                }
            }
        }

        .form-contato {
            width: 650px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            margin-right: 40px;

            +below($tablet) {
                width: 45%;
                margin-right: 20px;
            }

            +mobile() {
                width: 100%;
                margin-right: 0;
                margin-top: 20px;
            }

            input[type=text], input[type=email] {
                margin: 0 0 10px 0;
                width: 100%;
                height: 50px;
                padding: 0 15px;
                border: 2px solid $laranja;
                border-radius: 30px;
                outline: none;
                bellota(16);
                color: $branco;
                background-color: transparent;

                +placeholder() {
                    color: $branco;
                }

                +below($tablet) {
                    margin: 0 0 7px 0;
                    height: 40px;
                    font-size: 14px;
                }

                &:hover, &:focus {
                    font-weight: 700;
                }
            }

            textarea {
                width: 100%;
                height: 220px;
                margin: 0 0 10px 0;
                padding: 15px;
                border: 2px solid $laranja;
                border-radius: 30px;
                outline: none;
                resize: none;
                bellota(16);
                color: $branco;
                background-color: transparent;

                +placeholder() {
                    color: $branco;
                }

                +below($tablet) {
                    margin: 0 0 7px 0;
                    height: 180px;
                    font-size: 14px;
                }

                &:hover, &:focus {
                    font-weight: 700;
                }
            }

            .btn-enviar {
                width: 120px;
                height: auto;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                position: relative;

                +below($tablet) {
                    height: 90px;
                }

                +mobile() {
                    width: 80px;
                }

                .img-seta {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: transform 0.3s ease-in-out;
                }

                span {
                    bangers(18);
                    color: $amarelo;
                    margin: 0;
                    position: absolute;
                    top: 45px;
                    left: 33px;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                        top: 36px;
                        left: 35px;
                    }

                    +mobile() {
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        top: 38px;
                        left: 20px;
                    }
                }

                &:hover {
                    .img-seta {
                        transform: scale(1.05);
                    }

                    span {
                        color: $laranja;
                    }
                }
            }

            .flash {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                bellota(14);
                padding: 5px 10px;
                margin: 10px 0;
                border-radius: 20px;
                position: relative;

                +below($tablet) {
                    font-size: 12px;
                }

                > p {
                    margin: 0;
                }

                &.flash-erro {
                    border: 2px solid $vermelhoError;
                    background: $vermelhoError;
                    color: $branco;
                }

                &.flash-sucesso {
                    border: 2px solid $verdeSuccess;
                    background: $verdeSuccess;
                    color: $branco;
                }
            }
        }
    }
}