main.criticas-e-materias {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.materias {
        width: 100%;
        height: auto;
        padding: 60px 0;
        visibility: hidden;

        +below($tablet) {
            padding: 40px 0;
        }

        .center {
            height: auto;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            .masonry-grid-column {
                width: calc('(100% - 90px) / 3') !important;
                margin-right: 30px;

                +below($tablet) {
                    width: calc('(100% - 60px) / 3') !important;
                    margin-right: 20px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0;
                }
            }

            .materia {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 0 30px 0;
                border: 2px solid $laranja;
                padding: 10px;

                +below($tablet) {
                    margin: 0 0 20px 0;
                }

                .img-capa {
                    width: 100%;
                }

                .data-titulo {
                    width: 100%;
                    bellota(16);
                    color: $laranja;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 10px 0 0 0;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 5px 0 0 0;
                    }
                }
            }
        }

        .link-ver-mais-materias {
            display: block;
            width: 300px;
            height: 300px;
            margin: 30px auto 0 auto;
            position: relative;

            +below($tablet) {
                width: 200px;
                height: 200px;
            }

            +mobile() {
                width: 150px;
                height: 150px;
            }

            .img-coracao {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform 0.3s ease-in-out;
            }

            .titulo {
                bangers(28);
                color: $amarelo;
                margin: 0;
                position: absolute;
                top: 42%;
                left: 36%;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 20px;
                    left: 34%;
                }

                +mobile() {
                    font-size: 16px;
                }
            }

            &:hover {
                .img-coracao {
                    transform: scale(1.05);
                }

                .titulo {
                    color: $laranja;
                }
            }
        }
    }
}