main.cursos-e-oficinas {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.textos {
        width: 100%;
        height: auto;
        padding: 50px 0 100px 0;
        background-color: $preto;
        visibility: hidden;

        +below($tablet) {
            padding: 40px 0 60px 0;
        }

        +mobile() {
            padding: 30px 0;
        }

        .center {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
                flex-wrap: wrap;
                justify-content: center;
            }

            article.left {
                width: 60%;
                padding: 0 5%;
                bellota(16);
                color: $branco;

                +below($tablet) {
                    width: 55%;
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                h2 {
                    bangers(28);
                    color: $branco;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 22px;
                    }

                    +mobile() {
                        margin: 0 0 10px 0;
                    }
                }

                h4 {
                    surfer(24);
                    color: $laranja;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 18px;
                    }

                    +mobile() {
                        margin: 0 0 10px 0;
                    }
                }

                ul, ol {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;
                    }
                }

                figure.table {
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        font-size: 10px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        th, td {
                            padding: 5px;
                            text-align: left;
                        }
                    }

                    table, th, td {
                        border: 1px solid $branco;
                    }
                }
            }

            article.right {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                +below($tablet) {
                    width: 40%;
                }

                +mobile() {
                    width: 100%;
                    margin-top: 20px;
                }

                .img-texto {
                    width: 400px;
                    height: auto;
                    margin-bottom: 20px;

                    +below($tablet) {
                        width: 90%;
                        margin-bottom: 15px;
                    }

                    +mobile() {
                        width: 70%;
                    }
                }
            }
        }

        &:nth-child(2n + 1) {
            background-color: $laranja;

            .center {
                flex-direction: row-reverse;

                article.left {
                    color: $preto;

                    h2 {
                        color: $preto;
                    }

                    h4 {
                        color: $branco;
                    }

                    figure.table {
                        table, th, td {
                            border: 1px solid $preto;
                        }
                    }
                }
            }
        }
    }

    section.planejamentos {
        width: 100%;
        height: auto;
        background-color: $laranja;
        padding: 60px 0;
        visibility: hidden;

        +below($tablet) {
            padding: 40px 0;
        }

        .center {
            height: auto;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            h4.titulo {
                bangers(36);
                color: $branco;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 28px;
                }

                +mobile() {
                    font-size: 20px;
                    letter-spacing: 0.5px;
                }
            }

            .link-planejamento {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                bellota(24, medium);
                color: $preto;
                margin: 10px 0;
                transition: all 0.1s ease-in-out;

                +below($tablet) {
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 14px;
                }

                .img-seta {
                    width: 60px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 15px;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        width: 40px;
                    }

                    +mobile() {
                        width: 30px;
                        margin-right: 10px;
                    }
                }

                &:hover {
                    font-weight: 600;

                    .img-seta {
                        transform: rotate(360deg) scale(1.1);
                    }
                }
            }
        }
    }

    section.galeria {
        width: 100%;
        height: auto;
        padding: 50px 0 80px 0;
        background-color: $branco;
        visibility: hidden;

        +below($tablet) {
            padding-bottom: 60px;
        }

        .center {
            height: 100%;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            .link-img-galeria {
                width: calc('(100% - 40px) / 4');
                height: auto;
                margin: 0;

                +mobile() {
                    width: 100%;
                }

                .img-galeria {
                    width: calc('100% - 10px');
                    margin-bottom: 10px;

                    +mobile() {
                        width: 100%;
                    }
                }
            }
        }
    }

    // PLANEJAMENTO show
    section.planejamento {
        height: auto;
        display: flex;
        align-items: flex-start;
        padding: 40px 0;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
            flex-wrap: wrap;
            padding: 30px 0;
        }

        article.left {
            width: 50%;
            padding-right: 5%;
            bellota(16);
            color: $branco;

            +below($tablet) {
                font-size: 14px;
                padding-right: 3%;
            }

            +mobile() {
                width: 100%;
                font-size: 12px;
                padding-right: 0;
            }

            p {
                margin: 0 0 15px 0;
                line-height: 1.7;

                +mobile() {
                    margin: 0 0 10px 0;
                }

                a {
                    font-style: italic;

                    &:hover {
                        font-weight: 600;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            ul {
                list-style-position: outside;
                padding-left: 20px;
                margin: 0 0 15px 0;

                +mobile() {
                    margin: 0 0 10px 0;
                    padding-left: 15px;
                }

                li {
                    margin: 0;
                    line-height: 1.7;
                }
            }
        }

        article.right {
            width: 50%;
            padding-left: 5%;
            bellota(16);
            color: $branco;

            +below($tablet) {
                font-size: 14px;
                padding-left: 3%;
            }

            +mobile() {
                width: 100%;
                font-size: 12px;
                margin-top: 30px;
                padding-left: 0;
            }

            p {
                margin: 0 0 15px 0;
                line-height: 1.7;

                +mobile() {
                    margin: 0 0 10px 0;
                }

                a {
                    font-style: italic;

                    &:hover {
                        font-weight: 600;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            h2 {
                surfer(24, bold);
                color: $laranja;
                margin: 0 0 30px 0;

                +below($tablet) {
                    font-size: 18px;
                    margin: 0 0 20px 0;
                }

                +mobile() {
                    font-size: 14px;
                }
            }

            h4 {
                bellota(16);
                color: $laranja;
                margin: 20px 0 10px 0;

                +below($tablet) {
                    font-size: 14px;
                    margin: 15px 0 10px 0;
                }

                +mobile() {
                    font-size: 12px;
                    margin: 10px 0;
                }
            }

            ul, ol {
                list-style-position: inside;
                padding-left: 0;
                margin: 0 0 15px 0;

                +mobile() {
                    margin: 0 0 10px 0;
                }

                li {
                    margin: 0;
                    line-height: 1.7;
                }
            }

            figure.table {
                margin: 0 0 15px 0;

                +mobile() {
                    margin: 0 0 10px 0;
                    font-size: 10px;
                }

                table {
                    width: 100%;
                    border-collapse: collapse;

                    th, td {
                        padding: 5px;
                        text-align: left;
                    }
                }

                table, th, td {
                    border: 1px solid $branco;
                }
            }
        }
    }

    section.voltar {
        width: 100%;
        height: 120px;
        background-color: $laranja;
        visibility: hidden;

        +below($tablet) {
            height: 100px;
        }

        +mobile() {
            height: 80px;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: center;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            .link-voltar {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                bellota(24, medium);
                color: $preto;
                margin: 10px 0;
                transition: all 0.1s ease-in-out;

                +below($tablet) {
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 14px;
                }

                .img-seta {
                    width: 60px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 25px;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        width: 45px;
                        margin-right: 20px;
                    }

                    +mobile() {
                        width: 35px;
                        margin-right: 15px;
                    }
                }

                &:hover {
                    font-weight: 600;

                    .img-seta {
                        transform: rotate(360deg) scale(1.1);
                    }
                }
            }
        }
    }
}