section.depoimentos-internas {
    width: 100%;
    height: auto;
    background-color: $vinho;
    padding: 50px 0;
    visibility: hidden;

    +below($tablet) {
        padding: 40px 0;
    }

    .center {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            width: 90%;
            max-width: 90%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }

        .left {
            width: 400px;
            height: auto;
            margin-right: 60px;
            position: relative;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 100%;
                margin-right: 0;
            }

            .caixa-titulo {
                width: 100%;
                height: 400px;
                position: relative;

                +below($tablet) {
                    height: 250px;
                }

                +mobile() {
                    height: 200px;
                }

                .img-titulo {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    position: relative;
                }

                .titulo {
                    bangers(40);
                    color: $amarelo;
                    margin: 0;
                    position: absolute;
                    top: 35%;
                    left: 28%;

                    +below($tablet) {
                        font-size: 28px;
                        left: 30%;
                    }

                    +mobile() {
                        font-size: 22px;
                        left: 35%;
                    }
                }

                .link-depoimentos {
                    bellota(14, bold);
                    color: $laranja;
                    margin: 0;
                    padding: 15px 40px 15px 0;
                    text-align: right;
                    background: $img('seta-tortinha-direita-laranja.svg') no-repeat 100% / 30px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    bottom: -10px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $branco;
                        background: $img('seta-tortinha-direita-branco.svg') no-repeat 100% / 30px;
                    }

                    +below($tablet) {
                        font-size: 12px;
                        padding: 10px 30px 10px 0;
                        bottom: 0;
                        background: $img('seta-tortinha-direita-laranja.svg') no-repeat 100% / 20px;

                        &:hover {
                            background: $img('seta-tortinha-direita-branco.svg') no-repeat 100% / 20px;
                        }
                    }
                }
            }

            .form-depoimento {
                width: 100%;
                height: auto;
                margin-top: 120px;

                +below($tablet) {
                    margin-top: 80px;
                }

                +mobile() {
                    margin-top: 60px;
                }

                h4.titulo {
                    surfer(18);
                    color: $laranja;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 16px;
                    }

                    +mobile() {
                        font-size: 14px;
                        margin: 0 0 10px 0;
                    }
                }

                input[type=text], input[type=email] {
                    margin: 0 0 5px 0;
                    width: 100%;
                    height: 30px;
                    padding: 0 15px;
                    border: 1px solid $laranja;
                    border-radius: 20px;
                    outline: none;
                    surfer(14);
                    color: $laranja;
                    background-color: transparent;
                    transition: all 0.2s ease-in-out;

                    +below($tablet) {
                        height: 25px;
                        padding: 0 10px;
                        font-size: 12px;
                    }

                    +placeholder() {
                        color: $laranja;
                    }

                    &:hover, &:focus {
                        border: 1px solid $branco;
                        color: $branco;

                        +placeholder() {
                            color: $branco;
                        }
                    }
                }

                textarea {
                    width: 100%;
                    height: 200px;
                    margin: 0;
                    padding: 10px 15px;
                    border: 1px solid $laranja;
                    border-radius: 20px;
                    outline: none;
                    resize: none;
                    surfer(14);
                    color: $laranja;
                    background-color: transparent;
                    transition: all 0.2s ease-in-out;

                    +below($tablet) {
                        height: 150px;
                        padding: 10px;
                        font-size: 12px;
                    }

                    +placeholder() {
                        color: $laranja;
                    }

                    &:hover, &:focus {
                        border: 1px solid $branco;
                        color: $branco;

                        +placeholder() {
                            color: $branco;
                        }
                    }
                }

                .btn-enviar {
                    width: 130px;
                    height: 30px;
                    background-color: transparent;
                    border: 1px solid $laranja;
                    border-radius: 20px;
                    outline: none;
                    margin: 10px 0;
                    surfer(14);
                    color: $laranja;
                    cursor: pointer;
                    float: right;
                    transition: all 0.2s ease-in-out;

                    +below($tablet) {
                        width: 100px;
                        height: 25px;
                        margin: 7px 0;
                        font-size: 12px;
                    }

                    &:hover {
                        border: 1px solid $branco;
                        background-color: $branco;
                    }
                }

                .flash {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bellota(12);
                    padding: 5px 10px;
                    margin: 0;
                    border-radius: 0;
                    position: relative;

                    +below($tablet) {
                        width: 70%;
                        font-size: 10px;
                    }

                    +mobile() {
                        width: 100%;
                        margin: 10px 0;
                    }

                    > p {
                        margin: 0;
                    }

                    &.flash-erro {
                        border: 2px solid $vermelhoError;
                        border-radius: 20px;
                        background: $vermelhoError;
                        color: $branco;
                    }

                    &.flash-sucesso {
                        border: 2px solid $verdeSuccess;
                        border-radius: 20px;
                        background: $verdeSuccess;
                        color: $branco;
                    }
                }
            }
        }

        .right {
            width: 690px;
            max-width: calc('100% - 400px - 60px');
            height: auto;
            position: relative;

            +below($tablet) {
                width: calc('60% - 60px');
                max-width: calc('60% - 60px');
            }

            +mobile() {
                width: 100%;
                max-width: 100%;
                margin-top: 40px;
            }

            .depoimento {
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 30px;

                .link-espetaculo {
                    width: 120px;
                    height: 120px;

                    +below($tablet) {
                        width: 100px;
                        height: 100px;
                    }

                    +mobile() {
                        width: 80px;
                        height: 80px;
                    }

                    .img-depoimento {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .dados {
                    width: calc('100% - 120px');
                    padding: 10px 0 0 20px;

                    +below($tablet) {
                        width: calc('100% - 100px');
                    }

                    +mobile() {
                        width: calc('100% - 80px');
                    }

                    .mensagem {
                        width: 100%;
                        bellota(16);
                        color: $branco;
                        text-align: left;
                        margin: 0;

                        +below($tablet) {
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    .contato {
                        width: 100%;
                        bellota(12);
                        color: $branco;
                        font-style: italic;
                        text-align: left;
                        margin: 30px 0 10px 0;

                        +below($tablet) {
                            font-size: 10px;
                            margin: 20px 0 5px 0;
                        }

                        +mobile() {
                            font-size: 9px;
                        }
                    }

                    .estrelinhas {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin: 0;

                        .img-estrela {
                            width: 18px;
                            height: auto;
                            object-fit: contain;

                            +below($tablet) {
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}