main.espetaculos {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.lista-espetaculos {
        height: auto;
        padding: 40px 0 100px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
            padding-bottom: 80px;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
            padding: 40px 0;
        }

        .link-espetaculo {
            width: calc('(100% - 50px) / 3');
            height: 510px;
            margin: 0 25px 25px 0;
            background-size: 100% 100%;
            position: relative;

            @media (max-width: 1500px) and (min-width: 1300px) {
                width: calc('(100% - 40px) / 3');
                height: 420px;
                margin: 0 20px 20px 0;
            }

            +below($tablet) {
                width: calc('(100% - 40px) / 3');
                height: 350px;
                margin: 0 20px 20px 0;
            }

            +mobile() {
                width: calc('(100% - 15px) / 2');
                height: 220px;
                margin: 0 15px 15px 0;
            }

            .img-espetaculo {
                position: absolute;
                top: 35px;
                left: 35px;
                width: calc('100% - 70px');
                height: calc('100% - 70px');
                object-fit: cover;

                +below($tablet) {
                    top: 25px;
                    left: 25px;
                    width: calc('100% - 50px');
                    height: calc('100% - 50px');
                }

                +mobile() {
                    top: 17px;
                    left: 17px;
                    width: calc('100% - 34px');
                    height: calc('100% - 34px');
                }
            }

            .titulo {
                position: absolute;
                bottom: 35px;
                left: 35px;
                width: calc('100% - 70px');
                height: 60px;
                background-color: rgba(0, 0, 0, 0.8);
                bellota(24, medium);
                color: $laranja;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: all 0.3s ease-in-out;

                +below($tablet) {
                    bottom: 25px;
                    left: 25px;
                    width: calc('100% - 50px');
                    height: 50px;
                    font-size: 16px;
                }

                +mobile() {
                    bottom: 17px;
                    left: 17px;
                    width: calc('100% - 34px');
                    height: 50px;
                    font-size: 11px;
                }
            }

            &:hover {
                .titulo {
                    background-color: rgba(245, 134, 52, 0.8);
                    color: $preto;
                }
            }
        }
    }

    section.espetaculo {
        height: auto;
        padding: 40px 0 100px 0;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
            padding-bottom: 80px;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
            padding: 40px 0;
        }

        article.sobre {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .moldura {
                width: 420px;
                height: 510px;
                margin: 0;
                background-size: 100% 100%;
                position: relative;

                @media (max-width: 1500px) and (min-width: 1300px) {
                    width: 345px;
                    height: 420px;
                }

                +below($tablet) {
                    width: 290px;
                    height: 350px;
                }

                +mobile() {
                    width: 80%;
                    height: 320px;
                }

                .img-espetaculo {
                    position: absolute;
                    top: 35px;
                    left: 35px;
                    width: calc('100% - 70px');
                    height: calc('100% - 70px');
                    object-fit: cover;

                    +below($tablet) {
                        top: 25px;
                        left: 25px;
                        width: calc('100% - 50px');
                        height: calc('100% - 50px');
                    }

                    +mobile() {
                        top: 17px;
                        left: 17px;
                        width: calc('100% - 34px');
                        height: calc('100% - 34px');
                    }
                }
            }

            .textos {
                width: calc('100% - 420px');
                padding: 20px 5% 20px 50px;

                @media (max-width: 1500px) and (min-width: 1300px) {
                    width: calc('100% - 345px');
                }

                +below($tablet) {
                    width: calc('100% - 290px');
                    padding: 10px 5% 10px 40px;
                }

                +mobile() {
                    width: 100%;
                    padding: 20px 5%;
                }

                .titulo {
                    bangers(72);
                    color: $laranja;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 48px;
                        margin: 0 0 15px 0;
                    }

                    +mobile() {
                        font-size: 34px;
                        text-align: center;
                    }
                }

                .descricao {
                    bellota(16);
                    color: $branco;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    p {
                        margin: 0 0 15px 0;
                        line-height: 1.7;

                        +mobile() {
                            margin: 0 0 10px 0;
                        }

                        a {
                            font-style: italic;

                            &:hover {
                                font-weight: 600;
                            }
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }

                    ul {
                        list-style-position: outside;
                        padding-left: 20px;
                        margin: 0 0 15px 0;

                        +mobile() {
                            margin: 0 0 10px 0;
                            padding-left: 15px;
                        }

                        li {
                            margin: 0;
                            line-height: 1.7;
                        }
                    }
                }
            }
        }

        article.dados {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 40px;

            +below($tablet) {
                padding-top: 30px;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
                padding: 20px 5%;
            }

            .texto {
                width: 60%;
                padding: 10px 5% 0 0;
                bellota(16);
                color: $branco;

                +below($tablet) {
                    width: 55%;
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                h2 {
                    bangers(36);
                    color: $laranja;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 22px;
                    }

                    +mobile() {
                        font-size: 18px;
                        margin: 0 0 10px 0;
                    }
                }

                h4 {
                    surfer(20);
                    color: $branco;
                    margin: 0 0 15px 0;

                    +below($tablet) {
                        font-size: 18px;
                    }

                    +mobile() {
                        margin: 0 0 10px 0;
                    }
                }

                ul, ol {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;
                    }
                }

                figure.table {
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        font-size: 10px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        th, td {
                            padding: 5px;
                            text-align: left;
                        }
                    }

                    table, th, td {
                        border: 1px solid $branco;
                    }
                }
            }

            .ficha-tecnica {
                width: 500px;
                max-width: 40%;
                height: auto;
                padding: 50px;
                bellota(16);
                color: $preto;
                background-color: $laranja;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    top: -60px;
                    right: -60px;
                    background-color: $preto;
                    transform: rotate(-45deg);

                    +below($tablet) {
                        width: 90px;
                        height: 90px;
                        top: -45px;
                        right: -45ps;
                    }
                }

                +below($tablet) {
                    padding: 40px;
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 30px;
                    font-size: 12px;
                }

                p {
                    margin: 0;

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                h2 {
                    surfer(28);
                    color: $branco;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 18px;
                    }

                    +mobile() {
                        font-size: 16px;
                        margin: 0 0 15px 0;
                    }
                }

                h4 {
                    bangers(16);
                    color: $branco;
                    letter-spacing: 0.5px;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 13px;
                    }
                }

                ul, ol {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;

                        +mobile() {
                            line-height: 1.5;
                        }
                    }
                }

                figure.table {
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        font-size: 10px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        th, td {
                            padding: 5px;
                            text-align: left;
                        }
                    }

                    table, th, td {
                        border: 1px solid $branco;
                    }
                }
            }
        }
    }

    section.videos {
        width: 100%;
        height: auto;
        padding: 50px 0 150px 0;
        visibility: hidden;

        +below($tablet) {
            padding: 40px 0 80px 0;
        }

        +mobile() {
            padding: 30px 0 50px 0;
        }

        .center {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            iframe.video {
                width: 1000px;
                height: 560px;
                border: none;
                margin-bottom: 50px;

                +below($tablet) {
                    width: 70%;
                    height: 400px;
                    margin-bottom: 40px;
                }

                +mobile() {
                    width: 100%;
                    height: 180px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    section.galeria {
        width: 100%;
        height: auto;
        padding-bottom: 80px;
        background-color: $branco;
        visibility: hidden;

        +below($tablet) {
            padding-bottom: 60px;
        }

        .img-coracao {
            width: 300px;
            height: auto;
            margin: -122px auto 30px calc('(100% - 300px) / 2');

            +below($tablet) {
                width: 150px;
                margin: -62px auto 30px calc('(100% - 150px) / 2');
            }

            +mobile() {
                width: 120px;
                margin: -50px auto 20px calc('(100% - 120px) / 2');
            }
        }

        .center {
            height: 100%;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            .link-img-galeria {
                width: calc('(100% - 40px) / 4');
                height: auto;
                margin: 0;

                +mobile() {
                    width: 100%;
                }

                .img-galeria {
                    width: calc('100% - 10px');
                    margin-bottom: 10px;

                    +mobile() {
                        width: 100%;
                    }
                }
            }
        }
    }
}