main.home {
    width: 100%;
    height: auto;

    section {
        visibility: hidden;
    }

    section.banners {
        width: 100%;
        height: 865px;

        @media (max-width: 1500px) and (min-width: 1300px) {
            height: 700px;
        }

        +below($tablet) {
            height: 585px;
        }

        +mobile() {
            height: 500px;
        }

        .banner {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            padding: 11% calc('200px + 3%') 11% 7%;

            +below($tablet) {
                padding: 10% calc('150px + 3%') 10% 5%;
            }

            +mobile() {
                padding: 160px 5% 5% 5%;
            }

            .titulo {
                max-width: 100%;
                bangers(60);
                color: $branco;

                +below($tablet) {
                    font-size: 42px;
                }

                +mobile() {
                    font-size: 30px;
                }

                > p {
                    margin: 0;
                    line-height: 1.3;
                }
            }
        }
    }

    section.agenda-home {
        width: 100%;
        height: 730px;
        background-color: $laranja;
        padding: 50px 0;
        position: relative;

        +below($tablet) {
            height: 580px;
            padding: 40px 0;
        }

        +mobile() {
            height: auto;
        }

        .center {
            height: 100%;
            position: relative;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 90%;
                margin: 0 auto;
            }

            article.legenda {
                width: 100%;
                position: relative;

                .titulo-agenda {
                    surfer(48);
                    color: $preto;
                    margin: 0;

                    +below($tablet) {
                        font-size: 38px;
                    }

                    +mobile() {
                        font-size: 28px;
                    }
                }

                .frase-agenda {
                    bellota(16, medium);
                    color: $preto;
                    margin: 10px 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 11px;
                        margin: 7px 0;
                    }
                }

                .link-agenda {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    top: 40px;
                    right: 0;
                    surfer(14);
                    color: $preto;
                    transition: all 0.1s ease-in-out;

                    +below($tablet) {
                        top: 25px;
                        font-size: 13px;
                    }

                    +mobile() {
                        top: 15px;
                        font-size: 11px;
                    }

                    .img-seta {
                        width: auto;
                        height: 35px;
                        margin-left: 10px;
                        transition: transform 0.3s ease-in-out;

                        +below($tablet) {
                            height: 25px;
                        }

                        +mobile() {
                            height: 18px;
                            margin-left: 7px;
                        }
                    }

                    &:hover {
                        font-weight: 600;

                        .img-seta {
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            article.agenda {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin: 40px 0;

                +mobile() {
                    margin: 30px 0;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                .evento {
                    width: 250px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    @media (max-width: 1500px) and (min-width: 1300px) {
                        width: 220px;
                        height: 220px;
                    }

                    +below($tablet) {
                        width: 150px;
                        height: 150px;
                    }

                    +mobile() {
                        width: 45%;
                        height: auto;
                    }

                    .link-espetaculo {
                        width: 100%;
                        height: 100%;

                        .img-espetaculo {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            transition: transform 0.3s ease-in-out;

                            +mobile() {
                                width: 90%;
                                height: auto;
                            }
                        }
                    }

                    div.data {
                        width: 70px;
                        height: auto;
                        padding: 5px 0;
                        background-color: $preto;
                        margin-top: -35px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        z-index: 9;

                        +below($tablet) {
                            width: 50px;
                            margin-top: -25px;
                        }

                        .dia {
                            bangers(36);
                            color: $branco;
                            margin: 0;
                            line-height: 1.1;

                            +below($tablet) {
                                font-size: 24px;
                                line-height: 1;
                            }
                        }

                        .mes {
                            bangers(14);
                            color: $branco;
                            text-transform: uppercase;
                            margin: 0;
                            line-height: 1.1;

                            +below($tablet) {
                                font-size: 12px;
                                line-height: 1;
                            }
                        }
                    }

                    .titulo {
                        surfer(24);
                        color: $preto;
                        text-align: center;
                        margin: 10px 0;
                        transition: color 0.3s ease;

                        +below($tablet) {
                            font-size: 18px;
                        }

                        +mobile() {
                            font-size: 14px;
                            margin: 7px 0;
                        }
                    }

                    .tipo {
                        bangers(14);
                        color: $branco;
                        text-align: center;
                        letter-spacing: 0.2px;
                        margin: 0 0 10px 0;

                        +below($tablet) {
                            font-size: 10px;
                            margin: 0 0 7px 0;
                        }
                    }

                    .horario-local {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        bellota(16, bold);
                        color: $preto;
                        line-height: 1.7;
                        text-align: center;
                        margin: 0;
                        transition: color 0.3s ease;

                        +below($tablet) {
                            font-size: 14px;
                            text-align: center;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        .img-relogio {
                            width: 16px;
                            height: auto;
                            object-fit: contain;
                            margin-right: 5px;
                            margin-top: 5px;
                            transition: all 0.3s ease;

                            +below($tablet) {
                                width: 14px;
                            }

                            +mobile() {
                                width: 12px;
                            }
                        }
                    }

                    .endereco {
                        bellota(14);
                        color: $preto;
                        text-align: center;
                        line-height: 1.7;
                        margin: 0;
                        transition: color 0.3s ease;

                        +below($tablet) {
                            font-size: 12px;
                        }

                        +mobile() {
                            font-size: 11px;
                        }
                    }

                    .link-ingresso {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        bellota(14);
                        color: $preto;
                        line-height: 1.7;
                        margin: 0;
                        transition: all 0.05s ease-in-out;

                        +below($tablet) {
                            font-size: 12px;
                            white-space: nowrap;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        .img-pago {
                            width: 18px;
                            height: auto;
                            object-fit: contain;
                            margin-right: 5px;
                            transition: transform 0.3s ease-in-out;

                            +below($tablet) {
                                width: 16px;
                            }

                            +mobile() {
                                width: 14px;
                            }
                        }

                        .img-gratuito {
                            width: 16px;
                            height: auto;
                            object-fit: contain;
                            margin-right: 5px;
                            transition: transform 0.3s ease-in-out;

                            +below($tablet) {
                                width: 14px;
                            }

                            +mobile() {
                                width: 12px;
                            }
                        }

                        &:hover {
                            font-weight: 600;

                            .img-pago, .img-gratuito {
                                transform: rotate(360deg) scale(1.2);
                            }
                        }
                    }

                    &:hover {
                        .link-espetaculo {
                            .img-espetaculo {
                                transform: scale(1.1);
                            }
                        }

                        .titulo, .endereco {
                            color: $branco;
                        }

                        .horario-local {
                            color: $branco;

                            .img-relogio {
                                filter: invert(1);
                            }
                        }
                    }
                }
            }
        }
    }

    section.espetaculos-home {
        width: 100%;
        height: auto;
        background-color: $branco;
        padding: 50px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        .center {
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 90%;
                margin: 0 auto !important;
            }

            article.legenda {
                margin-bottom: 50px;

                +below($tablet) {
                    margin-bottom: 40px;
                }

                .frase {
                    bellota(31);
                    color: $vermelho;
                    line-height: 1.3;
                    margin: 0;

                    +below($tablet) {
                        font-size: 24px;
                    }

                    +mobile() {
                        font-size: 16px;
                    }
                }

                .titulo {
                    codystar(100);
                    color: $vermelho;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    @media (max-width: 1500px) and (min-width: 1300px) {
                        font-size: 90px;
                    }

                    +below($tablet) {
                        font-size: 60px;
                    }

                    +mobile() {
                        font-size: 32px;
                    }

                    .estrelinhas {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 30px;

                        +below($tablet) {
                            margin-left: 20px;
                        }

                        +mobile() {
                            margin-left: 10px;
                        }

                        .img-estrela {
                            width: 80px;
                            height: auto;
                            object-fit: contain;

                            @media (max-width: 1500px) and (min-width: 1300px) {
                                width: 60px;
                            }

                            +below($tablet) {
                                width: 50px;
                            }

                            +mobile() {
                                width: 20px;
                            }
                        }
                    }
                }
            }

            article.espetaculos {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                +mobile() {
                    justify-content: space-around;
                }

                .link-espetaculo {
                    width: calc('(100% - 80px) / 3');
                    height: 510px;
                    margin: 0 0 40px 0;
                    background-size: 100% 100%;
                    position: relative;

                    @media (max-width: 1500px) and (min-width: 1300px) {
                        width: calc('(100% - 40px) / 3');
                        height: 420px;
                        margin: 0 0 20px 0;
                    }

                    +below($tablet) {
                        width: calc('(100% - 40px) / 3');
                        height: 350px;
                        margin: 0 0 20px 0;
                    }

                    +mobile() {
                        width: 45%;
                        height: 220px;
                    }

                    .img-espetaculo {
                        position: absolute;
                        top: 35px;
                        left: 35px;
                        width: calc('100% - 70px');
                        height: calc('100% - 70px');
                        object-fit: cover;

                        +below($tablet) {
                            top: 25px;
                            left: 25px;
                            width: calc('100% - 50px');
                            height: calc('100% - 50px');
                        }

                        +mobile() {
                            top: 17px;
                            left: 17px;
                            width: calc('100% - 34px');
                            height: calc('100% - 34px');
                        }
                    }

                    .titulo {
                        position: absolute;
                        bottom: 35px;
                        left: 35px;
                        width: calc('100% - 70px');
                        height: 60px;
                        background-color: rgba(0, 0, 0, 0.8);
                        bellota(24, medium);
                        color: $laranja;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transition: all 0.3s ease-in-out;

                        +below($tablet) {
                            height: 50px;
                            font-size: 18px;
                        }

                        +mobile() {
                            bottom: 17px;
                            left: 17px;
                            width: calc('100% - 34px');
                            height: 55px;
                            font-size: 12px;
                        }
                    }

                    &:hover {
                        .titulo {
                            background-color: rgba(245, 134, 52, 0.8);
                            color: $preto;
                        }
                    }
                }
            }

            .link-espetaculos {
                width: 100%;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                bellota(16, bold);
                color: $vermelho;
                margin: 30px 0;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    margin: 20px 0;
                }

                +mobile() {
                    height: 16px;
                    font-size: 11px;
                }

                .estrelinhas {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;

                    +mobile() {
                        margin-right: 5px;
                    }

                    .img-estrela {
                        width: 18px;
                        height: auto;
                        object-fit: contain;

                        +mobile() {
                            width: 16px;
                        }
                    }
                }

                .img-seta {
                    width: auto;
                    height: 100%;
                    object-fit: contain;
                    margin-left: 5px;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover {
                    color: $laranja;

                    .img-seta {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    section.bg-galeria {
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        filter: grayscale(0.4);

        +below($tablet) {
            height: 370px;
        }

        +mobile() {
            height: 250px;
        }

        .link-galeria-fotos, .link-galeria-videos {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .img-maquina, .img-videos {
                width: 200px;
                height: auto;
                object-fit: contain;
                margin: 25px 0;
                transition: transform 0.3s ease-in-out;

                +below($tablet) {
                    width: 150px;
                }

                +mobile() {
                    width: 100px;
                }
            }

            .titulo-link {
                bangers(36);
                color: $branco;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    font-size: 28px;
                }

                +mobile() {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                .img-seta {
                    width: 30px;
                    height: auto;
                    object-fit: contain;
                    margin-left: 10px;
                    transition: transform 0.3s ease-in-out;

                    +mobile() {
                        width: 18px;
                    }
                }
            }

            &:hover {
                .img-maquina, .img-videos {
                    transform: scale(1.1);
                }

                .titulo-link {
                    .img-seta {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    section.links-home {
        width: 100%;
        height: 390px;
        background-color: $vinhoEscuro;

        +below($tablet) {
            height: 300px;
        }

        +mobile() {
            height: 200px;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                width: 100%;
                max-width: 100%;
                margin: 0;
            }

            .link-um, .link-dois, .link-tres {
                width: calc('100% / 3');
                height: 100%;
                background-image: $img('palco-cortinaVermelhaIluminada.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                .titulo-link {
                    width: 193px;
                    bangers(42);
                    color: $branco;
                    text-align: center;
                    line-height: 1.3;
                    margin: 0;

                    +below($tablet) {
                        width: 50%;
                        font-size: 32px;
                    }

                    +mobile() {
                        width: 80%;
                        font-size: 18px;
                        letter-spacing: 0.5px;
                    }
                }

                .img-seta {
                    width: 173px;
                    height: auto;
                    object-fit: contain;
                    margin: 10px 0;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        width: 120px;
                    }

                    +mobile() {
                        width: 80px;
                    }
                }

                &:hover {
                    .img-seta {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    section.novidades {
        width: 100%;
        height: auto;
        background-color: $laranja;
        padding-bottom: 50px;

        +below($tablet) {
            padding-bottom: 40px;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                width: 90%;
                max-width: 90%;
                margin: 0 auto;
                flex-direction: column;
                align-items: center;
            }

            .link-novidades {
                width: 315px;
                height: 315px;
                margin-top: 20px;
                position: relative;

                +below($tablet) {
                    width: 200px;
                    height: 200px;
                }

                +mobile() {
                    width: 150px;
                    height: 150px;
                    margin-top: 0;
                }

                .img-seta {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: transform 0.3s ease-in-out;
                }

                .titulo {
                    bangers(36);
                    color: $amarelo;
                    margin: 0;
                    position: absolute;
                    top: 42%;
                    left: 22%;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 26px;
                    }

                    +mobile() {
                        font-size: 20px;
                        top: 40%;
                    }
                }

                &:hover {
                    .img-seta {
                        transform: scale(1.05);
                    }

                    .titulo {
                        color: $laranja;
                    }
                }
            }

            article.noticias {
                width: calc('100% - 315px');
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                +below($tablet) {
                    width: calc('100% - 200px');
                }

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                }

                .noticia {
                    width: 365px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0 30px;

                    +below($tablet) {
                        width: calc('(100% - 60px) / 2');
                        margin: 0 20px;
                    }

                    +mobile() {
                        width: 100%;
                        margin: 0 0 30px 0;
                    }

                    .img-pendulo {
                        width: 198px;
                        height: auto;
                        object-fit: contain;

                        +below($tablet) {
                            width: 150px;
                        }

                        +mobile() {
                            width: 120px;
                        }
                    }

                    .titulo-noticia {
                        surfer(24);
                        color: $preto;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 1.3;
                        margin: -190px 0 20px 0;

                        +below($tablet) {
                            font-size: 18px;
                            margin: -145px 0 15px 0;
                        }

                        +mobile() {
                            font-size: 16px;
                            margin: -120px 0 10px 0;
                        }
                    }

                    .frase-noticia {
                        bellota(16);
                        color: $preto;
                        text-align: center;
                        margin: 0;

                        +below($tablet) {
                            font-size: 12px;
                        }

                        +mobile() {
                            font-size: 10px;
                        }
                    }

                    .link-ler-mais {
                        width: 88px;
                        height: 60px;
                        margin-top: 20px;
                        position: relative;

                        +below($tablet) {
                            width: 70px;
                            height: 45px;
                            margin-top: 15px;
                        }

                        +mobile() {
                            width: 60px;
                            height: auto;
                            margin-top: 10px;
                        }

                        .img-seta {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            transition: transform 0.3s ease-in-out;
                        }

                        span {
                            bangers(10);
                            color: $amarelo;
                            margin: 0;
                            position: absolute;
                            top: 26px;
                            left: 22px;
                            transition: color 0.3s ease-in-out;

                            +below($tablet) {
                                top: 18px;
                                left: 16px;
                            }

                            +mobile() {
                                font-size: 9px;
                                top: 14px;
                                left: 12px;
                            }
                        }

                        &:hover {
                            .img-seta {
                                transform: scale(1.05);
                            }

                            span {
                                color: $laranja;
                            }
                        }
                    }
                }
            }
        }
    }
}