main.noticias {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.lista-noticias {
        height: auto;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
        }

        .link-noticia {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 50px;

            +below($tablet) {
                margin-bottom: 40px;
            }

            +mobile() {
                margin-bottom: 30px;
                flex-direction: column;
                align-items: center;
            }

            .img-noticia {
                width: 300px;
                height: 200px;
                border: 2px solid $laranja;
                object-fit: cover;
                transition: border 0.3s ease-in-out;

                +below($tablet) {
                    width: 250px;
                    height: auto;
                }

                +mobile() {
                    width: 100%;
                }
            }

            .dados {
                width: calc('100% - 300px');
                height: auto;
                padding: 0 10% 0 50px;

                @media (min-width: 1500px) {
                    padding: 0 25% 0 50px;
                }

                +below($tablet) {
                    width: calc('100% - 250px');
                    padding: 0 5% 0 40px;
                }

                +mobile() {
                    width: 100%;
                    padding: 0 20px;
                }

                .data {
                    width: 150px;
                    height: 30px;
                    background-color: $laranja;
                    surfer(16);
                    color: $branco;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: -100px;
                    transition: all 0.3s ease-in-out;

                    +below($tablet) {
                        width: 120px;
                        height: 25px;
                        font-size: 13px;
                        margin-left: -80px;
                    }

                    +mobile() {
                        margin-left: 0;
                        margin-top: -13px;
                        font-size: 12px;
                    }
                }

                h4.titulo {
                    surfer(24, bold);
                    color: $laranja;
                    margin: 30px 0 0 0;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 18px;
                        margin: 20px 0 0 0;
                    }

                    +mobile() {
                        font-size: 16px;
                        margin: 15px 0 0 0;
                    }
                }

                .frase {
                    bellota(16);
                    color: $branco;
                    margin: 20px 0;

                    +below($tablet) {
                        font-size: 13px;
                        margin: 15px 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        margin: 10px 0;
                    }
                }
            }

            &:hover {
                .img-noticia {
                    border: 2px solid $branco;
                }

                .dados {
                    .data {
                        background-color: $branco;
                        color: $laranja;
                    }

                    h4.titulo {
                        color: $branco;
                    }
                }
            }
        }
    }

    section.ver-mais, section.voltar {
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
        }

        .link-ver-mais-noticias, .link-voltar-noticias {
            display: block;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            position: relative;

            +below($tablet) {
                width: 200px;
                height: 200px;
            }

            +mobile() {
                width: 150px;
                height: 150px;
            }

            .img-coracao {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform 0.3s ease-in-out;
            }

            .titulo {
                bangers(28);
                color: $amarelo;
                margin: 0;
                position: absolute;
                top: 42%;
                left: 36%;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 20px;
                    left: 34%;
                }

                +mobile() {
                    font-size: 16px;
                }
            }

            &:hover {
                .img-coracao {
                    transform: scale(1.05);
                }

                .titulo {
                    color: $laranja;
                }
            }
        }
    }

    section.voltar .link-voltar-noticias .titulo {
        left: 38%;
    }

    section.noticia {
        height: auto;
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
        }

        article.imagem-data {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            z-index: 2;

            .img-noticia {
                width: 800px;
                height: auto;
                max-height: 550px;
                object-fit: cover;
                border: 2px solid $laranja;

                +below($tablet) {
                    width: 70%;
                    max-height: 400px;
                }

                +mobile() {
                    width: calc('100% - 120px + 40px');
                    max-height: 250px;
                }
            }

            .data {
                width: 150px;
                height: 30px;
                background-color: $laranja;
                surfer(16);
                color: $branco;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -50px;

                +below($tablet) {
                    width: 120px;
                    height: 25px;
                    font-size: 13px;
                    margin-left: -40px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }
        }

        article.cx-titulo {
            width: 1000px;
            height: auto;
            padding: 60px 50px 30px 50px;
            margin-top: -30px;
            background-color: $laranja;
            z-index: 1;

            +below($tablet) {
                width: 80%;
                padding: 40px 30px 20px 30px;
                margin-top: -20px;
            }

            +mobile() {
                width: 100%;
                padding: 30px 20px 15px 20px;
                margin-top: -15px;
            }

            h1.titulo {
                surfer(36);
                color: $branco;
                margin: 0;

                +below($tablet) {
                    font-size: 26px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }
        }

        article.dados-imagens {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 50px;

            +below($tablet) {
                margin-top: 40px;
            }

            +mobile() {
                margin-top: 30px;
                flex-direction: column;
                align-items: center;
            }

            .textos {
                width: 50%;
                height: auto;
                padding-right: 5%;
                bellota(16);
                color: $branco;

                +below($tablet) {
                    font-size: 14px;
                    padding-right: 40px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                    padding: 0 15px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                ul {
                    list-style-position: outside;
                    padding-left: 20px;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        padding-left: 15px;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;
                    }
                }
            }

            .imagens {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 40px;

                +below($tablet) {
                    width: 45%;
                    margin-right: 0;
                }

                +mobile() {
                    width: 100%;
                    margin-top: 20px;
                }

                .img-texto {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;

                    +below($tablet) {
                        width: 90%;
                        margin-bottom: 15px;
                    }

                    +mobile() {
                        width: 100%;
                    }
                }
            }
        }
    }
}