main.politica-de-privacidade {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }
    }

    section.texto {
        height: auto;
        padding: 60px 0;
        bellota(16);
        color: $branco;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            font-size: 14px;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
            font-size: 12px;
        }

        p {
            margin: 0 0 15px 0;
            line-height: 1.7;

            +mobile() {
                margin: 0 0 10px 0;
            }

            a {
                font-style: italic;

                &:hover {
                    font-weight: 600;
                }
            }

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        ul, ol {
            list-style-position: inside;
            padding-left: 0;
            margin: 0 0 15px 0;

            +mobile() {
                margin: 0 0 10px 0;
            }

            li {
                margin: 0;
                line-height: 1.7;
            }
        }

        figure.table {
            margin: 0 0 15px 0;

            +mobile() {
                margin: 0 0 10px 0;
                font-size: 10px;
            }

            table {
                width: 100%;
                border-collapse: collapse;

                th, td {
                    padding: 5px;
                    text-align: left;
                }
            }

            table, th, td {
                border: 1px solid $branco;
            }
        }
    }
}