main.premiacoes {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.lista-premiacoes {
        height: auto;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
        }

        article.premiacao {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 50px;

            +below($tablet) {
                margin-bottom: 40px;
            }

            +mobile() {
                margin-bottom: 30px;
                flex-direction: column;
                align-items: center;
            }

            .img-premiacao, .img-icone {
                width: 300px;
                height: auto;
                object-fit: cover;

                +below($tablet) {
                    width: 200px;
                }

                +mobile() {
                    width: 80%;
                }
            }

            .img-icone {
                +mobile() {
                    width: 60%;
                }
            }

            .img-premiacao {
                +mobile() {
                    margin-bottom: 10px;
                }
            }

            .dados {
                width: calc('100% - 300px');
                height: auto;
                padding: 0 10% 0 50px;

                @media (min-width: 1500px) {
                    padding: 0 20% 0 50px;
                }

                +below($tablet) {
                    width: calc('100% - 200px');
                    padding: 0 5% 0 40px;
                }

                +mobile() {
                    width: 100%;
                    padding: 15px 10px;
                }

                .titulo {
                    surfer(36, bold);
                    color: $branco;
                    margin: 0;

                    +below($tablet) {
                        font-size: 26px;
                    }

                    +mobile() {
                        font-size: 22px;
                        text-align: center;
                    }
                }

                .data {
                    bellota(18);
                    color: $branco;
                    margin: 15px 0 0 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 10px 0 0 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }
                }

                .texto {
                    bellota(18);
                    color: $branco;
                    margin: 15px 0 0 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 10px 0 0 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }

                    p {
                        line-height: 1.7;
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}