main.projetos-especiais {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.projeto {
        width: 100%;
        height: auto;
        background-color: $preto;
        padding: 40px 0;
        visibility: hidden;

        +mobile() {
            padding: 30px 0;
        }

        .center {
            height: auto;
            max-width: calc('100% - 5% - 200px - 3%');
            margin: 0 calc('200px + 3%') 0 auto;

            @media (min-width: 1700px) {
                margin: 0 calc('200px + 10%') 0 auto;
            }

            +below($tablet) {
                max-width: calc('100% - 5% - 150px - 3%');
                margin: 0 calc('150px + 3%') 0 auto;
            }

            +mobile() {
                max-width: 100%;
                margin: 0 auto;
            }

            article.texto {
                display: block;
                width: 60%;
                bellota(16);
                color: $branco;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        font-style: italic;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                ul {
                    list-style-position: outside;
                    padding-left: 20px;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        padding-left: 15px;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;
                    }
                }
            }

            iframe.video {
                width: 1000px;
                height: 560px;
                border: none;
                margin: 20px calc('(100% - 1000px) / 2');

                +below($tablet) {
                    width: 70%;
                    height: 350px;
                    margin: 20px 15%;
                }

                +mobile() {
                    width: 100%;
                    height: 180px;
                    margin: 20px 0;
                }
            }
        }

        &:nth-child(2n + 1) {
            background-color: $laranja;
            background-image: $img('bg-videos.png');

            .center {
                article.texto {
                    color: $preto;
                }
            }
        }
    }
}