main.videos {
    width: 100%;
    height: auto;

    section.apresentacao {
        height: auto;
        padding-top: 65px;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
            padding-top: 140px;
        }

        h1.titulo {
            bangers(48);
            color: $branco;
            margin: 0;

            +below($tablet) {
                font-size: 38px;
            }

            +mobile() {
                font-size: 28px;
                text-align: center;
            }
        }

        h4.subtitulo {
            surfer(28);
            color: $laranja;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 14px;
                margin: 10px 0 0 0;
                text-align: center;
            }
        }
    }

    section.lista-videos {
        width: 100%;
        height: auto;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            padding: 40px 0;
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 90%;
            margin: 0 auto;
        }

        iframe.video {
            width: 1000px;
            height: 560px;
            border: none;
            margin-bottom: 100px;

            +below($tablet) {
                width: 75%;
                height: 350px;
                margin-bottom: 50px;
            }

            +mobile() {
                width: 100%;
                height: 180px;
                margin-bottom: 40px;
            }
        }
    }

    section.ver-mais {
        max-width: calc('100% - 5% - 200px - 3%');
        margin: 0 calc('200px + 3%') 0 auto;
        visibility: hidden;

        @media (min-width: 1700px) {
            margin: 0 calc('200px + 10%') 0 auto;
        }

        +below($tablet) {
            max-width: calc('100% - 5% - 150px - 3%');
            margin: 0 calc('150px + 3%') 0 auto;
        }

        +mobile() {
            max-width: 100%;
            margin: 0 auto;
        }

        .link-ver-mais-videos {
            display: block;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            position: relative;

            +below($tablet) {
                width: 200px;
                height: 200px;
            }

            +mobile() {
                width: 150px;
                height: 150px;
            }

            .img-coracao {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform 0.3s ease-in-out;
            }

            .titulo {
                bangers(28);
                color: $amarelo;
                margin: 0;
                position: absolute;
                top: 42%;
                left: 36%;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 20px;
                    left: 34%;
                }

                +mobile() {
                    font-size: 16px;
                }
            }

            &:hover {
                .img-coracao {
                    transform: scale(1.05);
                }

                .titulo {
                    color: $laranja;
                }
            }
        }
    }
}